<div id="help_overview" class="modal">
  <h4>Repetition Report Overview</h4>
  <p>TODO(denniskempin)</p>
</div>

<div id="help_histogram" class="modal">
  <h4>Latency Histogram</h4>
  <p>TODO(denniskempin)</p>
</div>

<div id="help_trace" class="modal">
  <h4>Trace Plot</h4>
  <p>TODO(denniskempin)</p>
</div>

<div id="help_pass_trace" class="modal">
  <h4>Pass Trace and Measurements</h4>
  <p>TODO(denniskempin)</p>
</div>

<div id="help_measurements" class="modal">
  <h4>Measurements Overview</h4>
  <p>TODO(denniskempin)</p>
</div>

<div id="help_measurements_details" class="modal">
  <h4>Measurements Details</h4>
  <p>TODO(denniskempin)</p>
</div>